body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:lemonchiffon;
}

.game-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 88px);
    grid-gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 85px;
    height: 85px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cell:hover {
    background-color: #ddd;
}

/* Add animation for X and O */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.x {
    color: #ff69b4; /* Pink color for X */
    animation: scale 0.5s ease-in-out;
}

.o {
    color: #00bcd4; /* Another color for O */
    animation: scale 0.5s ease-in-out;
}

.result {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

button {
    font-size: 1em;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: tomato;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .board {
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.8em;
    }
}
p{
    color: #F9BC4B;
    transition: 0.5s;
}
p:hover{
    color: #FE5838;
    font-size:22px;
    transition: 0.5s;
}
h1{
    color: #ff69b4;
    font-size: 38px;
    text-decoration: underline;
}